<h1> Welcome to Aidup!</h1>

<h2> Please log in or register in order to enter Aidup!</h2>

<h4> Register Here:</h4>
  <a href='/register'> Register </a>

  <% if session[:id]%>
  <div id='delete-button'>
    <form action='/logout' method='post'>
      <input type='submit' value='logout' />
    </form>
  </div>

  <p>'Welcome!' Go to this page <span><a href='/new_page'>here</a></span></p>

  <% else %>
  <h4> Log In Here:</h4>
  <a href='/login'> Log in </a>
  <% end %>
